nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

#search-field {
    height: 30px;
    width: 20vw;
    border: none;
    background-color: #4182c4;
}

#select-field {
    width: 20vw;
    height: 32px;
    border: none;
    background-color: #4182c4;
}

#pokemon-list {
    list-style-type: none;
}

#pokemon-list li {
    text-align: center;
    display: inline-block;
    width: 25%;
}

#page-numbers {
    display: flex;
    font-size: 0.8em;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 1% 17% 0 17%;
}

#page-numbers li {
    width: 2.5em;
    margin: 0 0 0.8em 0.8em;
    float: left;
}

#page-numbers button {
    width: 100%;
    height: 4vw;
    text-align: center;
    background-color: #4182c4;
}

#page-numbers button:disabled {
    background-color: #2e2e2e;
}

#page-numbers .current {
    font-weight: bold;
}