#search-field {
    margin-left: 10px;
}

#pokemon-list {
    list-style-type: none;
}

#pokemon-list li {
    text-align: center;
    display: inline-block;
    width: 25%;
}

#page-numbers {
    list-style-type: none;
    margin-top: 1em;
}

#page-numbers li {
    float: left;
    margin-right: 1em;
}